[Unit]
Description=Lock the screen on resume from suspend

[Service]
User=lk4d4
Environment=DISPLAY=:0
ExecStart=/usr/bin/slock

[Install]
WantedBy=sleep.target
